extends main 
block content 
    .top.p.b
        each Doucument in docs
            nav(aria-label="breadcrumb doc-nav")
                a(href=`${Doucument.link_Office}` target="_blank")
                    ol.breadcrumb.doc-ol
                        li.breadcrumb-item.active=Doucument.name
            a.doc-btn(href=`${Doucument.My_link}` target="_blank")
                | Xem Ngay
        